@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}

.post-list .post {
    position: relative;
}

.post-list .post .preview {
    display: inline-block;
    width: 180px;
    vertical-align: top;
}

.post-list .post .preview a {
    display: inline-block;
    width: 125px;
    padding: 0.4em;
    box-shadow: 0 0 0.8rem grey;
}

.post-list .post .preview a:hover {
    display: inline-block;
    width: 125px;
    padding: 0.4em;
    box-shadow: 0 0 0.8rem rgba(255, 130, 207, 1);
}

.post-list .post .content {
    display: inline-block;
    width: 660px;
}

span.highlight {
font-weight: bolder;
background: linear-gradient(104deg, rgba(255, 130, 207,0) 0.9%, rgba(255, 130, 207,1.25) 2.4%, rgba(255, 130, 207, 0.5) 5.8%, rgba(255, 130, 207,0.1) 93%, rgba(255, 130, 207,0.7) 96%, rgba(255, 130, 2072,0) 98%), linear-gradient(183deg, rgba(255, 130, 207,0) 0%, rgba(255, 130, 207,0.3) 7.9%, rgba(255, 130, 207,0) 15%);
padding: 0 13.7px;
-webkit-box-decoration-break: clone;
margin: 0;
border-radius: 7.5px;
text-shadow: -12px 12px 9.8px rgba(255, 130, 207,0.7), 21px -18.1px 7.3px rgba(255, 255, 255,1), -18.1px -27.3px 30px rgba(255, 255, 255,1);

}
