@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Indie Flower', cursive;
}

.post-list .post {
    position: relative;
}

.post-list .post .preview {
    display: inline-block;
    width: 180px;
    vertical-align: top;
}

.post-list .post .preview img {
    display: inline-block;
    width: 125px;
    padding: 0.4em;
    box-shadow: 0 0 0.8rem grey;

}

.post-list .post .content {
    display: inline-block;
    width: 660px;
}

